/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}


@media only screen and (min-width: 601px) {

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

body {

    margin: 0;
    background-color: #cf8e02;
}

ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;

}

header {
    background: blueviolet;
    font-size: 2em;
    transition-property: background-color box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease;
    box-shadow: 0px 10px 10px rgba(0, 0, 255, .2);
    margin: 0px;
    padding: 10px;
    display: flex;
    height: 10vh;

}

nav {
    background-color: #333;
    width: 100%;
    padding: 10px;
}

nav li:hover {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, #cf8e02 100%);

}



nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    text-align: center;

}



section {
    display: none;
}

header img {
    display: block;
    min-width: 50px;
    min-height: 50px;
    height: 100%;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
    border: solid black;



}



header:hover {

    animation: anim 1s linear reverse;
    background: linear-gradient(180deg, blueviolet 0%, #00000000 50%);
    background-size: 200% 200%;
    box-shadow: none;
}

@keyframes anim {

    100% {
        background-position: bottom;
    }
}


.lang-buttons {

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: center;
    margin: 5px;
}

.lang-buttons a {
    background-color: #cf8e02;
    width: 10px;
    border: solid;
    padding: 3px 5px;
    margin: 3px;
    font-size: 10px;

}

.parti-titre {
    padding: 0;
    margin: auto 0;
    display: flex;

    text-align: center;

    justify-content: space-around;
}


.parti-titre h1,
.parti-titre h2 {
    padding: 0;
    margin: 0;
}

.squareButton {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

@media screen and (max-width: 515px) {



    .parti-titre {



        display: flex;
        flex-direction: column;
        font-size: 0.4em;


    }


    nav {
        overflow: hidden;
        position: fixed;
        bottom: 0;
    }

    nav li:hover {
        background: linear-gradient(#cf8e02 0%, rgba(0, 0, 0, 0) 100%);

    }

}