:root {

    /* Couleurs */

    --violetC: #712cf9;
    --violetF: #430EAD;
    --orange: #FAA346;
    --orangeF: #b68340;
    --vertC: #14FA38;
    --vertF: #17AD2E;
    --gris: #333;

    /* couleur elements */

    --pixelBgColor: var(--vertC);
    --headerColor: var(--violetC);
    --langBtnBgColor: var(--orange);
    --hoverFontColor: black;
    --hoverLinkColor: var(--vertC);
    --hoverShadowColor: var(--vertC);
    --fontTabColor: var(--orange);
    --bgTabColor: var(--gris);
    --headerShadowColor: var(--vertF);
    --linkColorVirgin: var(--orange);
    --linkColorClicked: var(--orangeF);
    --default-Font-Color: var(--orange);
    /* misc */

    --zTabPhone: 1;
    --zTab: 1;
    --zSection: 2;
    --zBgAnime: -1;


    /* pixelanimation */

    --gapPixel: 0;
    --taillePixel: 100%;
    --pixel-size: 2vw;

}




[class*="col-"] {
    width: 100%;
    margin: 0;
    padding: 0;
}


@media only screen and (min-width: 601px) {

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

section a:link {
    color: var(--linkColorVirgin);
}

section a:visited {
    color: var(--linkColorClicked);
}

section a:hover {
    color: var(--hoverLinkColor);
    text-shadow: var(--hoverShadowColor) 1px 0 10px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--gris);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

header {
    background: var(--headerColor);
    font-size: 1em;
    box-shadow: 0px 10px 10px var(--vertF);
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

header img:hover,
header .header-titre:hover {
    cursor: pointer;
}



nav {

    background-color: transparent;
    width: 90%;
    padding: 0;
    margin: 10px auto 0 auto;

}

nav li:hover {
    background: linear-gradient(var(--bgTabColor) 70%, var(--vertF) 100%);
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 1px;
    border: none;
    padding: 10 0;
}

nav li {
    transition: all ease 1s;
    display: flex;
    width: 30%;
    padding: 10px 0;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--bgTabColor);
    z-index: var(--zTab);

}


nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    text-align: center;
    color: var(--orange);

}


section {
    transition: 1s ease-in-out all;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    overflow: auto;
    background-color: transparent;
    width: 90%;
    min-height: 76vh;
    margin: 0 5%;
    z-index: var(--zSection);
    color: var(--default-Font-Color);
    margin-bottom: 10px;

}

#presentation img {
    position: absolute;
    image-rendering: optimizeSpeed;
    filter: grayscale(50%);

    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    transform: translateX(0%);
    animation: jeBouge 2s ease;
}

#other_links img {

    display: flex;
    align-self: center;
}

@keyframes jeBouge {
    0% {
        transform: translateX(-1000%);

    }

    100% {
        transform: translateX(0%);


    }
}

.end-section-body,
.start-section-body {
    overflow: hidden;
    padding: 5px;
    background-color: var(--gris);
    position: relative;
    box-shadow: 0px 0px 5px 5px var(--vertF);
    width: 90vw;
    margin: 0 auto;
    z-index: 5;
}

.end-section-body {
    width: 100%;
    padding: 1px 0;
    position: fixed;
    bottom: 0;

}





.box-container {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--gris);
    overflow: auto;
    display: inline-flex;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    box-sizing: border-box;

}

.align-left {
    align-items: flex-start;
}

.align-right {
    display: flex;
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

section:not(#presentation) {
    display: none;
}

header img {

    min-width: 50px;
    max-height: 50px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    border: solid black;



}


.lang-buttons {

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: center;

}

.lang-buttons a {
    background-color: var(--langBtnBgColor);
    width: 10px;
    border: solid 1px;
    padding: 3px 5px;
    margin: 3px;
    font-size: 10px;

}

.lang-buttons a:hover {
    cursor: pointer;
}

header h1,
header h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

header h2 {
    font-size: smaller;
}

/* .squareButton {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
} */

.scrolling-news {
    flex-wrap: nowrap;
    display: flex;
    transform: translateX(100%);
    animation: scrollingAnim 30s linear infinite;
    text-overflow: clip;
    overflow: visible;
    white-space: nowrap;
    gap: 100%;
    color: var(--default-Font-Color);
}

@keyframes scrollingAnim {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-300%);
    }
}




/* mon bg Anime */

.bgAnime {
    position: fixed;
    top: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--gapPixel);
    z-index: var(--zBgAnime);

}

.col-pixel {
    width: var(--pixel-size);

}

.pixelAnime {

    position: relative;
    display: block;
    height: var(--pixel-size);
    margin: 0;
    padding: 0;
    text-align: center;


}

.pixelAnime:hover {
    background: var(--violetC);
}

.switchLight {
    animation: normal animeBgPixel 2s linear forwards;
}

@keyframes animeBgPixel {
    0% {
        color: var(--pixelBgColor);

    }

    100% {
        background: transparent;
    }
}


@media screen and (max-width: 600px) {

    #presentation {
        overflow: hidden;

    }

    #presentation img {
        position: absolute;
        image-rendering: optimizeSpeed;
        filter: grayscale(50%);
        transform: rotate(10deg);
        top: 0;
        z-index: -1;
        height: 100%;

    }

    nav {
        padding: 0;
        font-size: small;
        flex-direction: column;
        justify-content: flex-end;
        z-index: var(--zTabPhone);
    }

    .scrolling-news {

        animation: scrollingAnim 15s linear infinite;
    }


    header {

        font-size: small;
    }

    header .header-titre {
        font-size: 1em;
    }

    nav li {

        justify-content: space-around;
    }

    .pixelAnime {
        color: var(--gris);
    }

    #other_links .row {
        flex-direction: column;
    }

    #other_links img {
        display: none;
    }


    @keyframes animeBgPixel {
        0% {
            background-color: var(--pixelBgColor);
            color: var(--pixelBgColor);

        }

        100% {
            background: transparent;
            color: var(--gris);

        }
    }

    @keyframes jeBouge {
        0% {
            transform: rotate(0) translateX(-1000%);

        }

        100% {
            transform: rotate(10deg) translateX(0%);


        }

    }
}